*{
    margin: 0;
}

.parent{
    display: flex;
}
.left{
    width: 20%;
    background-color: bisque;

}
.center{
    width: 20%;
    background-color: red;
}
.right{
    width: 60%;
    background-color: brown;
}